<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="viewport" content="height=1200px"> -->
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="../../htmljs/jquery.min.js"></script>
    <!-- 框架自带js文件 -->
    <script src="../../public/JavaScript/JavaScript.js"></script>
    <!-- 验证以及其他注入效果 -->
</head>

<body>
    <div class="login-box login son">

        <h1>login登录</h1>
        <input type="text" id="sbbs" placeholder="请输入用户名" readonly="readonly" value="123" />
        <input type="text" id="激活码" placeholder="请输入激活码" />
        <input onclick=" save(); 泡椒云网络验证();" type="submit" value="进入" />
    </div>
</body>

</html>