<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="../huituibao/css/text.css">-->
    <script src="../../public/JavaScript/vue.js"></script>
    <script src="../../public/JavaScript/jquery1.min.js"></script>
    <script src="../../public/JavaScript/jquery.min.js"></script>
    <!-- 框架自带js文件 -->
    <script src="../../public/JavaScript/JavaScript.js"></script>
    <link rel="stylesheet" href="css/text.css">
    <link rel="stylesheet" href="../huituibao/css/index1.css">
    <link rel="stylesheet" href="../huituibao/css/css.css">
    <link rel="stylesheet" href="../huituibao/css/reset200802.css">
    <style>
        .xxx{
            position: absolute;
            box-shadow: 0px 0px 100px 10PX black;
            border: 1px solid black;
        }
        .btn{
            width: 95%;
            margin: 5px;
            border-radius: 80px;
            height: 35px;
            background-color: rgb(129, 127, 255);
        }
    </style>
</head>
<body>
<!--    <header class="header">-->
<!--        <h1>慧推宝·功能设置</h1>-->
<!--    </header>-->
    <main class="tou">
    <div>
        <div class="app">
            <h1><b>保活设置</b></h1>
            <hr>
            <div>
                <div style="text-align: center;">
                    <button onclick="window.open('../../qx_xfc.html')" class="btn" style="background-color: #b3e6ff;">悬浮窗权限开启</button>
                    <button onclick="window.open('../../qx_htwxz.html')" class="btn" style="background-color: #99ddff;">后台无限制功能</button>
<!--                    <button onclick="window.open('../../qx_hldcyh.html')" class="btn" style="background-color: #80d5ff;">忽略电池优化</button>-->
                    <button onclick="window.open('../../qx_wrms.html')" class="btn" style="background-color: #66ccff;">勿扰模式开启</button>
                    <button onclick="window.open('../../qx_xgxtsz.html')" class="btn" style="background-color: #4dc4ff;">修改系统设置</button>
                    <button onclick="window.open('../../qx_htsd.html')" class="btn" style="background-color: #33bbff;">后台锁定</button>
                    <button onclick="window.open('../../qx_tzsyq.html')" class="btn" style="background-color: #1ab2ff;">通知使用权限</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="app">
            <h1><b>软件设置</b></h1>
            <hr>
            <div style="text-align: center;">
                <button onclick= "显示启停控制窗口()" class="btn" style="background-color: #b3e6ff;">显示启停按钮</button>
                <button onclick= "显示日志()" class="btn" style="background-color: #99ddff;">显示日志</button>
                <button onclick= "关闭日志()" class="btn" style="background-color: #99ddff;">关闭日志</button>
                <button onclick= "忽略电池优化_弹窗()" class="btn" style="background-color: #80d5ff;">电池优化</button>
                <button onclick= "系统设置()" class="btn" style="background-color: #80d5ff;">系统设置</button>
                <button onclick= "下载抖音()" class="btn" style="background-color: #80d5ff;">点击下载抖音24.9</button>
            </div>
        </div>

    </div>
    <div class="powered">
        <span>本APP仅供个人使用,请勿用于非法途径!一切后果自负</span>
        <span>powered by 慧推宝</span>
    </div>
        <!-- 底部选项 -->
        <div class="menu">
            <div class="subMenu text-center" onclick="window.location.href='./index.html'">
                <img style="margin: -5px; margin-top:0px; " class="menu_img" src="../huituibao/images/shouye.png" alt="">
                <div class="menu_name">首页</div>
            </div>
            <div class="subMenu text-center" onclick="window.location.href='./bh.html'">
                <img style="margin: -5px; margin-top:0px; " class="menu_img" src="../huituibao/images/shezhi.png" alt="">
                <div class="menu_name">设置</div>
            </div>
            <div class="subMenu text-center" onclick="window.location.href='./grzx.html'">
                <img style="margin: -5px; margin-top:0px; " class="menu_img" src="../huituibao/images/my.png" alt="">
                <div class="menu_name">个人中心</div>
            </div>
        </div>
    </main>
</body>
<script src="../../public/JavaScript/gn.js"></script>
</htm