<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>功能选择</title>
    <link rel="stylesheet" href="css/index.css">
    <!-- css样式 -->
    <script src="../../htmljs/jquery.min.js"></script>
    <!-- 框架自带js文件 -->
    <script src="../../public/JavaScript/JavaScript.js"></script>
    <!-- 验证以及其他注入效果 -->
</head>
<body>
    <div class="container">
        <div class="title" style="margin-bottom: 10px; display: inline-block;">
            <p style="color: #909399; font-size: 22px; text-align: center; margin-top: 15px;" id="设备标识">设备标识</p>
            <p style="color: #3d5658; font-size: 14px; text-align: center; margin-top: 10px;" id="sbbs" data="sm"> 设备标识码 </p>
        </div>
        <div>
        </div>
        <input type="text" placeholder="激活码" id="激活码">
        <button onclick=" save(); 泡椒云网络验证();">激活</button>
    </div>
    <div class="square">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="circle">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>

</html>