<!-- id一样style只需要复制一次 #box -->
<style>
    #box{
        width: 25%;
        height: auto;
        text-align: center;
        margin: -2px;
    }
    .pb{
        margin-top: 0px;
        padding-top: 0px;
        font-size: auto;
    }
    .inline-div{
        display: inline-block;
    }
</style>

<!-- 大div是一行 -->
<div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">万能引流</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">直播场控</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">智能养号</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">行业转化</p>
    </div>
</div>

<!-- 大div是一行 -->
<div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">群成员转化</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">截流评论</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">精准引流</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">精准评论</p>
    </div>
</div>

<!-- DIV内容onclick属性控制访问地址/width控制div宽高/id控制div内容居中/class控制文字居中 -->
<!--<div onclick="window.open('gnxz.html','_self')"  id="box" class="inline-div">-->

<!--    &lt;!&ndash; src控制图片路径/alt留空/width控制图片宽高 &ndash;&gt;-->
<!--    <img src="/sdcard/site.png" alt="" width="50px">-->

<!--    &lt;!&ndash; 图片下方文字 &ndash;&gt;-->
<!--    <a>智能引流</a>-->
<!--</div>-->