<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>老冷编程学院http://bbs.laoleng.vip</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.7/theme-chalk/index.min.css">
    <link rel="stylesheet" href="https://ks3-cn-beijing.ksyun.com/vform2021/VFormRender.css?t=20210720">
    <style type="text/css">
    </style>
    <script>
        history.back(-1)   //我想在这里回退上一个页面
        window.ec.call('测试权限申请', null)
    </script>
</head>
</html>