<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #box{
            width: 25%;
            text-align: center;
            margin: -2px;
        }
        .pb{
            margin-top: 0px;
            padding-top: 0px;
        }
        .p5{
            font-size: 14px;
            margin-top: 2px;
            padding-top: 0px;
        }
        .inline-div{
            display: inline-block;
        }
        #box1{
            width: 100%;
        }
    </style>
</head>
<body>
<div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">智能引流</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">精准引流</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">直播场控</p>
    </div>
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="pb">同城引流</p>
    </div>
</div>
<div class="box1">
    <div  onclick="window.open('index.html','_self')"  id="box" class="inline-div">
        <img src="/sdcard/播放器.png" alt="" width="50px">
        <p class="p5">粉丝画像引流</p>
    </div>
</div>
</body>
</html>