<!-- id一样style只需要复制一次 #box -->
<style>
  #box {
    width: 70px;
    height: 85px;
    text-align: center;
  }

  .inline-div {
    display: inline-block;
  }
</style>

<!-- DIV内容onclick属性控制访问地址/width控制div宽高/id控制div内容居中/class控制文字居中 -->
<div onclick="window.open('index.html','_self')" id="box" class="inline-div">

  <!-- src控制图片路径/alt留空/width控制图片宽高 -->
  <img src="/sdcard/播放器.png" alt="" width="50px">

  <!-- 图片下方文字 -->
  <a>万能引流</a>
</div>

<!-- DIV内容onclick属性控制访问地址/width控制div宽高/id控制div内容居中/class控制文字居中 -->
<div onclick="window.open('index.html','_self')" id="box" class="inline-div">

  <!-- src控制图片路径/alt留空/width控制图片宽高 -->
  <img src="/sdcard/播放器.png" alt="" width="50px">

  <!-- 图片下方文字 -->
  <a>粉丝转化</a>
</div>

<!-- DIV内容onclick属性控制访问地址/width控制div宽高/id控制div内容居中/class控制文字居中 -->
<div onclick="window.open('index.html','_self')" id="box" class="inline-div">

  <!-- src控制图片路径/alt留空/width控制图片宽高 -->
  <img src="/sdcard/播放器.png" alt="" width="50px">

  <!-- 图片下方文字 -->
  <a>行业转化</a>
</div>

<!-- DIV内容onclick属性控制访问地址/width控制div宽高/id控制div内容居中/class控制文字居中 -->
<div onclick="window.open('index.html','_self')" id="box" class="inline-div">

  <!-- src控制图片路径/alt留空/width控制图片宽高 -->
  <img src="/sdcard/播放器.png" alt="" width="50px">

  <!-- 图片下方文字 -->
  <a>同城引流</a>
</div>